.footer div {
  color: grey;
  gap: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: 10px;
}
.footer div span {
  color: grey;
  gap: 5px;
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-left: 20px;
}
